@import url('https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap');

body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    /* background: #75b6c2; */
    background-image: url(./clouds.png);
    color: #020202;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.holder textarea {
  padding: 2em;
}

.holder input {
    padding: 2em;
}

.entry{
    background: #22b2da;
    margin-bottom: 1em;
}

#entryHolder{

}

#date{
    color: rgb(230, 20, 20);
}

#temp{
    color: rgb(255, 217, 0)
}

#content{
    color: rgb(255, 115, 0);
}

.headline {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 2.1rem;
    color: #f0d43a;
}

label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background: #22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #ff4e4e;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 